html,
body,

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
}

:root {
  --main-title-color: #1a1a1a;
  --generic-text-color: #333333;
  --support-text-color: #cccccc;
  --background-highlight-color: #f5f5f5;
  --foreground-container-color: #ffffff;
  --box-shadow-color: #cccccc;
  --blue: #2596be;
}

& .MuiTypography-root {
  margin: "1px";
}

.search-input::placeholder {
  color: #000;
}

/* SAFARI ONLY */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and
  (-webkit-appearance: none) {
  /* FIX per overflow del labe con input stondato */
  .MuiInputLabel-shrink {
    margin-left: 1px;
    background-color: var(--foreground-container-color);
  }
}
